In [2]:
import pandas as pd

### Import des fichiers

In [3]:
customer_data_set = pd.read_csv("olist_customers_dataset.csv")
order_items_dataset = pd.read_csv("olist_order_items_dataset.csv")
order_payments_dataset = pd.read_csv("olist_order_payments_dataset.csv")
sellers_dataset = pd.read_csv("olist_sellers_dataset.csv")
products_dataset = pd.read_csv("olist_products_dataset.csv")
orders_dataset = pd.read_csv("olist_orders_dataset.csv")

### Bases

### Exploration des données

### Partie 1

#### Combien d'utilisateurs ?

In [6]:
customer_data_set.customer_id.count()

99441

In [11]:
total = customer_data_set.customer_unique_id.unique()

In [12]:
len(total)

96096

#### Panier moyen, max, écart type, total

In [4]:
order_payments_dataset.head()

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

In [5]:
order_payments_dataset.payment_value.mean()

154.10038041698365

In [6]:
order_payments_dataset.payment_value.max()

13664.08

In [9]:
order_payments_dataset['payment_value'].std()

217.49406386472577

In [8]:
ca_total = order_payments_dataset.payment_value.sum()

### Partie 2

In [13]:
order_payments_dataset.payment_type.unique()

array(['credit_card', 'boleto', 'voucher', 'debit_card', 'not_defined'],
      dtype=object)

#### Top 10 paiements par Voucher

In [11]:
payments_by_vouchers = order_payments_dataset[order_payments_dataset.payment_type == 'voucher']

In [12]:
payment_by_voucher_top_10 = payments_by_vouchers.sort_values('payment_value', ascending=False).head(10)

In [30]:
payment_by_voucher_top_10

,order_id,payment_sequential,payment_type,payment_installments,payment_value
78900,03310aa823a66056268a3bab36e827fb,1,voucher,1,3184.34
38429,7813842ae95e8c497fc0233232ae815a,1,voucher,1,3184.34
60252,afb61112fb99b07fe17e591c68c0c84c,1,voucher,1,2266.61
51653,4df2b9c2c7b6eedea39ceb96eb54ad34,1,voucher,1,1839.05
56320,a739bf4717343c5f9c84196b61a9c53f,2,voucher,1,1522.42
103545,c3fbba8f64cc6b2e99abc0e00d5ade2b,1,voucher,1,1400.33
235,f86d7bc39aab05299691322044b63bb2,1,voucher,1,1302.42
61711,99bc429ddaa03f67e02a463a20c2379f,1,voucher,1,1224.10
48894,c08dd05931abd8cb08aad3d31e39bfed,2,voucher,1,1220.45
3592,f7a8fae2d2d1ed95f1413db630a42dbe,2,voucher,1,1201.08

#### Combien de paiements par voucher

In [14]:
count_vouchers = payments_by_vouchers.payment_value.count()

In [16]:
count_vouchers

5775

#### Total paiement par voucher

In [15]:
ca_vouchers = payments_by_vouchers.payment_value.sum()

In [17]:
ca_vouchers

379436.87

#### Proportion du CA par voucher

In [36]:
percent_ca_vouchers_on_total = ca_vouchers/ca_total

In [37]:
percent_ca_vouchers_on_total

0.023701661625865997

#### Combien de paiements, total paiements et proportion du CA voucher>1000€

In [38]:
over_1000_pbv = payments_by_vouchers[payments_by_vouchers.payment_value>1000]

In [39]:
ca_over_1000_pbv = over_1000_pbv.payment_value.sum()

In [40]:
ca_over_1000_pbv/ca_total

0.0013418334432919437

### Partie 3

#### Quelle est la part de commande qui prend plus de 15 minutes entre la commande et l'acceptation ?

In [54]:
orders_dataset.head(5)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [19]:
orders_dataset.order_status.unique()
#On regarde les différents order status et on ne garde que ceux qui sont pertinents

array(['delivered', 'invoiced', 'shipped', 'processing', 'unavailable',
       'canceled', 'created', 'approved'], dtype=object)

In [28]:
approved_status = ['delivered', 'invoiced', 'shipped','approved']
#On pourrait mettre tout le crochet à la place de "approved_status" ci-dessous, mais cette syntaxe
#est préférable pour permettre une modification plus simple en cas de besoin

In [29]:
approved_orders = orders_dataset[orders_dataset.order_status.isin(approved_status)]

In [39]:
approved_orders.order_approved_at.dtypes
#les colonnes timestamp ont perdu leur type, il y a donc besoin de les transformer

dtype('O')

In [31]:
approved_orders['purchase_time']=pd.to_datetime(approved_orders.order_purchase_timestamp)
approved_orders['approved_time'] = pd.to_datetime(approved_orders.order_approved_at)

C:\Users\natha\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\natha\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [32]:
approved_orders.drop('order_purchase_timestamp',1)

,order_id,customer_id,order_status,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,purchase_time,approved_time
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,2017-10-02 10:56:33,2017-10-02 11:07:15
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00,2018-07-24 20:41:37,2018-07-26 03:24:27
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00,2018-08-08 08:38:49,2018-08-08 08:55:23
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00,2017-11-18 19:28:06,2017-11-18 19:45:59
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00,2018-02-13 21:18:39,2018-02-13 22:20:29
5,a4591c265e18cb1dcee52889e2d8acc3,503740e9ca751ccdda7ba28e9ab8f608,delivered,2017-07-09 22:10:13,2017-07-11 14:58:04,2017-07-26 10:57:55,2017-08-01 00:00:00,2017-07-09 21:57:05,2017-07-09 22:10:13
6,136cce7faa42fdb2cefd53fdc79a6098,ed0271e0b7da060a393796590e7b737a,invoiced,2017-04-13 13:25:17,NaN,NaN,2017-05-09 00:00:00,2017-04-11 12:22:08,2017-04-13 13:25:17
7,6514b8ad8028c9f2cc2374ded245783f,9bdf08b4b3b52b5526ff42d37d47f222,delivered,2017-05-16 13:22:11,2017-05-22 10:07:46,2017-05-26 12:55:51,2017-06-07 00:00:00,2017-05-16 13:10:30,2017-05-16 13:22:11
8,76c6e866289321a7c93b82b54852dc33,f54a9f0e6b351c431402b8461ea51999,delivered,2017-01-25 02:50:47,2017-01-26 14:16:31,2017-02-02 14:08:10,2017-03-06 00:00:00,2017-01-23 18:29:09,2017-01-25 02:50:47
9,e69bfb5eb88e0ed6a785585b27e16dbf,31ad1d1b63eb9962463f764d4e6e0c9d,delivered,2017-07-29 12:05:32,2017-08-10 19:45:24,2017-08-16 17:14:30,2017-08-23 00:00:00,2017-07-29 11:55:02,2017-07-29 12:05:32
10,e6ce16cb79ec1d90b1da9085a6118aeb,494dded5b201313c64ed7f100595b95c,delivered,2017-05-16 19:50:18,2017-05-18 11:40:40,2017-05-29 11:18:31,2017-06-07 00:00:00,2017-05-16 19:41:10,2017-05-16 19:50:18
11,34513ce0c4fab462a55830c0989c7edb,7711cf624183d843aafe81855097bc37,delivered,2017-07-13 20:10:08,2017-07-14 18:43:29,2017-07-19 14:04:48,2017-08-08 00:00:00,2017-07-13 19:58:11,2017-07-13 20:10:08
12,82566a660a982b15fb86e904c8d32918,d3e3b74c766bc6214e0c830b17ee2341,delivered,2018-06-09 03:13:12,2018-06-11 13:29:00,2018-06-19 12:05:52,2018-07-18 00:00:00,2018-06-07 10:06:19,2018-06-09 03:13:12
13,5ff96c15d0b717ac6ad1f3d77225a350,19402a48fe860416adf93348aba37740,delivered,2018-07-25 17:55:14,2018-07-26 13:16:00,2018-07-30 15:52:25,2018-08-08 00:00:00,2018-07-25 17:44:10,2018-07-25 17:55:14
14,432aaf21d85167c2c86ec9448c4e42cc,3df704f53d3f1d4818840b34ec672a9f,delivered,2018-03-01 15:10:47,2018-03-02 21:09:20,2018-03-12 23:36:26,2018-03-21 00:00:00,2018-03-01 14:14:28,2018-03-01 15:10:47
15,dcb36b511fcac050b97cd5c05de84dc3,3b6828a50ffe546942b7a473d70ac0fc,delivered,2018-06-12 23:31:02,2018-06-11 14:54:00,2018-06-21 15:34:32,2018-07-04 00:00:00,2018-06-07 19:03:12,2018-06-12 23:31:02
16,403b97836b0c04a622354cf531062e5f,738b086814c6fcc74b8cc583f8516ee3,delivered,2018-01-02 19:09:04,2018-01-03 18:19:09,2018-01-20 01:38:59,2018-02-06 00:00:00,2018-01-02 19:00:43,2018-01-02 19:09:04
17,116f0b09343b49556bbad5f35bee0cdf,3187789bec990987628d7a9beb4dd6ac,delivered,2017-12-26 23:50:22,2017-12-28 18:33:05,2018-01-08 22:36:36,2018-01-29 00:00:00,2017-12-26 23:41:31,2017-12-26 23:50:22
18,85ce859fd6dc634de8d2f1e290444043,059f7fc5719c7da6cbafe370971a8d70,delivered,2017-11-21 00:14:22,2017-11-23 21:32:26,2017-11-27 18:28:00,2017-12-11 00:00:00,2017-11-21 00:03:41,2017-11-21 00:14:22
19,83018ec114eee8641c97e08f7b4e926f,7f8c8b9c2ae27bf3300f670c3d478be8,delivered,2017-10-26 16:08:14,2017-10-26 21:46:53,2017-11-08 22:22:00,2017-11-23 00:00:00,2017-10-26 15:54:26,2017-10-26 16:08:14
20,203096f03d82e0dffbc41ebc2e2bcfb7,d2b091571da224a1b36412c18bc3bbfe,delivered,2017-09-19 04:04:09,2017-10-06 17:50:03,2017-10-09 22:23:46,2017-09-28 00:00:00,2017-09-18 14:31:30,2017-09-19 04:04:09
21,f848643eec1d69395095eb3840d2051e,4fa1cd166fa598be6de80fa84eaade43,delivered,2018-03-15 09:09:31,2018-03-15 19:52:48,2018-03-19 18:08:32,2018-03-29 00:00:00,2018-03-15 08:52:40,2018-03-15 09:09:31
22,2807d0e504d6d4894d41672727bc139f,72ae281627a6102d9b3718528b420f8a,delivered,2018-02-03 20:50:22,2018-02-05 22:37:28,2018-02-08 16:13:46,2018-02-21 00:00:00,2018-02-03 20:37:35,2018-02-03 20:50:22
23,95266dbfb7e20354baba07964dac78d5,a166da34890074091a942054b36e4265,delivered,2018-01-08 08:07:31,2018-01-24 23:16:37,2018-01-26 17:32:38,2018-02-21 00:00:00,2018-01-08 07:55:29,2018-01-08 08:07:31
24,f3e7c359154d965827355f39d6b1fdac,62b423aab58096ca514ba6aa06be2f98,delivered,2018-08-10 03:24:51,2018-08-10 12:29:00,2018-08-13 18:24:27,2018-08-17 00:00:00,2018-08-09 11:44:40,2018-08-10 03:24:51
25,fbf9ac61453ac646ce8ad9783d7d0af6,3a874b4d4c4b6543206ff5d89287f0c3,delivered,2018-02-22 02:30:46,2018-02-26 22:25:22,2018-03-21 22:03:54,2018-03-12 00:00:00,2018-02-20 23:46:53,2018-02-22 02:30:46
26,acce194856392f074dbf9dada14d8d82,7e20bf5ca92da68200643bda76c504c6,delivered,2018-06-05 00:35:10,2018-06-05 13:24:00,2018-06-16 15:20:55,2018-07-18 00:00:00,2018-06-04 00:00:13,2018-06-05 00:35:10
27,dd78f560c270f1909639c11b925620ea,8b212b9525f9e74e85e37ed6df37693e,delivered,2018-03-12 03:28:34,2018-03-12 21:06:37,2018-03-21 14:41:50,2018-03-28 00:00:00,2018-03-12 01:50:26,2018-03-12 03:28:34
28,91b2a010e1e45e6ba3d133fa997597be,cce89a605105b148387c52e286ac8335,delivered,2018-05-03 12:55:01,2018-05-10 16:16:00,2018-05-16 20:56:24,2018-05-23 00:00:00,2018-05-02 11:45:38,2018-05-03 12:55:01
29,ecab90c9933c58908d3d6add7c6f5ae3,761df82feda9778854c6dafdaeb567e4,delivered,2018-02-25 14:47:35,2018-02-26 22:28:50,2018-03-27 23:29:14,2018-04-13 00:00:00,2018-02-25 13:50:30,2018-02-25 14:47:35
...,...,...,...,...,...,...,...,...,...
99410,71c4b7b8844a031b7db8ca41c41d4aae,dce0014426964924f9564758e4fadcbf,delivered,2017-09-05 04:10:34,2017-09-05 17:47:58,2017-09-14 15:49:47,2017-10-03 00:00:00,2017-09-03 20:52:34,2017-09-05 04:10:34
99411,4a69678ecf74bfd34260031c04329b68,eb19f77ffd29917f353d12152b0c0de1,delivered,2018-07-23 12:32:05,2018-07-23 15:12:00,2018-07-24 22:46:38,2018-07-31 00:00:00,2018-07-22 16:58:38,2018-07-23 12:32:05
99412,4146f35ac7a7ef4e39fe344e563c1e3b,e0eac226ceae49858de89e8a5c1ba1ec,delivered,2017-11-26 19:53:48,2017-11-27 18:33:24,2017-12-05 18:38:40,2017-12-15 00:00:00,2017-11-26 19:42:22,2017-11-26 19:53:48
99413,3cea94817a51f34aa5937784fb4a3219,20b927d23e84dfaa333eb4aea6615084,delivered,2018-04-01 16:30:16,2018-04-02 18:21:51,2018-04-06 21:32:35,2018-04-19 00:00:00,2018-04-01 16:13:26,2018-04-01 16:30:16
99414,e8fd20068b9f7e6ec07068bb7537f781,609b9fb8cad4fe0c7b376f77c8ab76ad,delivered,2017-08-10 21:35:26,2017-08-18 16:42:51,2017-08-23 15:36:29,2017-08-31 00:00:00,2017-08-10 21:21:07,2017-08-10 21:35:26
99416,c627fe35fce1a754bc5b812d0b8ff379,42b0671b440d1f2527bddd8b723e0a0c,delivered,2018-06-03 18:55:15,2018-06-04 13:48:00,2018-06-07 13:22:19,2018-07-11 00:00:00,2018-06-03 18:44:31,2018-06-03 18:55:15
99417,e6cc57f923c4dab2222b8c9aa8742eea,2f4a42f9bb4b9a8cd402fa549df5c7fd,delivered,2018-02-07 12:31:13,2018-02-21 23:38:05,2018-03-05 18:56:39,2018-05-11 00:00:00,2018-02-07 12:09:45,2018-02-07 12:31:13
99418,788541a19c0791de0504c5a9cb7e7bd5,a537aaf902d2f436eb7f44817154bb68,delivered,2017-11-30 18:16:25,2017-12-05 20:58:57,2017-12-13 20:34:50,2017-12-27 00:00:00,2017-11-30 17:54:28,2017-11-30 18:16:25
99419,1b4a0e6b19d0034b531655b41ea89623,ce5efd1b1d8a2fa290a871edd5c26cd6,delivered,2017-10-02 08:56:53,2017-10-03 20:26:19,2017-10-06 16:58:25,2017-10-24 00:00:00,2017-10-02 08:45:35,2017-10-02 08:56:53
99420,f9e3402be5a5ea63344347582ca9f45f,6f2cf56878f7f82151b0ad02590192c0,delivered,2017-06-08 02:45:24,2017-06-08 14:03:29,2017-06-19 19:19:30,2017-07-05 00:00:00,2017-06-07 11:02:37,2017-06-08 02:45:24
99421,6f46d42016226f77893ed3978d6903d0,3803547f820b1e10b7ad9c7985f06753,delivered,2017-07-05 17:43:48,2017-07-07 19:48:40,2017-07-19 22:10:03,2017-08-14 00:00:00,2017-07-05 15:55:19,2017-07-05 17:43:48
99422,dfc6eb45a2753ed9e6c6ef4987b44503,a046c690e0564ffde0ce611b5eee2c30,delivered,2018-05-25 17:15:21,2018-05-29 13:31:00,2018-06-04 23:54:32,2018-06-26 00:00:00,2018-05-25 17:05:17,2018-05-25 17:15:21
99423,38e9133ce29f6bbe35aed9c3863dce01,ad312389a098ceff46ce92c4595c06d0,delivered,2017-10-14 03:28:24,2017-10-17 17:04:42,2017-11-21 17:06:59,2017-10-31 00:00:00,2017-10-12 20:54:11,2017-10-14 03:28:24
99424,6ec4642f9993cc34f826cfb9068e5a2f,f00bb12620b7b232233cace1b229db18,delivered,2017-11-21 20:28:52,2017-11-27 17:18:52,2017-12-02 16:48:46,2017-12-08 00:00:00,2017-11-21 20:18:03,2017-11-21 20:28:52
99425,d692ef54145c9cb3322ec2e5508aa3f4,82ddfcf9438b0cd1117b55ac33184df8,delivered,2018-03-21 20:05:26,2018-03-22 21:11:58,2018-04-11 00:48:31,2018-04-09 00:00:00,2018-03-21 19:47:18,2018-03-21 20:05:26
99426,7cc85185736ea7f2d8bc09af7a47cab7,9e870ea67399650e8c3545a25d13e4d0,delivered,2017-05-15 10:02:45,2017-05-15 14:11:06,2017-05-22 18:05:56,2017-06-07 00:00:00,2017-05-15 09:46:26,2017-05-15 10:02:45
99427,19dba6d1e58b04e7fc820558a38ea398,cf97e9cf454480b303de6736ddd15fd6,delivered,2018-05-12 13:55:17,2018-05-16 08:14:00,2018-05-18 17:18:29,2018-06-04 00:00:00,2018-05-12 13:42:24,2018-05-12 13:55:17
99428,c22a47117b6a87c967b0c278488110c1,6e153567dc52ea59c0498ef5383e9c7a,delivered,2018-06-22 21:17:45,2018-06-25 17:50:00,2018-07-03 19:48:54,2018-07-23 00:00:00,2018-06-22 20:53:29,2018-06-22 21:17:45
99429,0e4b26f1fb99fc0f0472dd5f403d36d4,2e96fa6d55b9732013caed9866e2552d,delivered,2017-11-05 16:30:29,2017-11-07 18:35:08,2017-11-08 16:08:56,2017-11-17 00:00:00,2017-11-05 16:17:53,2017-11-05 16:30:29
99430,c81f74e50f0496fa39716cc77cacd460,7b270ebc87c25c8404348c10ff80a80e,delivered,2018-03-04 23:09:22,2018-03-05 16:15:04,2018-03-13 18:54:32,2018-03-26 00:00:00,2018-03-04 22:48:38,2018-03-04 23:09:22
99431,b0f4af5c1b06e24fef510703bfe9f0a6,8e1ec396e317ff4c82a03ce16a0c3eb3,delivered,2017-10-27 15:32:49,2017-10-30 15:44:34,2017-11-10 17:57:22,2017-11-22 00:00:00,2017-10-27 15:21:00,2017-10-27 15:32:49
99432,cfa78b997e329a5295b4ee6972c02979,a2f7428f0cafbc8e59f20e1444b67315,delivered,2017-12-20 10:09:52,2017-12-20 20:25:25,2018-01-26 15:45:14,2018-01-18 00:00:00,2017-12-20 09:52:41,2017-12-20 10:09:52
99433,9115830be804184b91f5c00f6f49f92d,da2124f134f5dfbce9d06f29bdb6c308,delivered,2017-10-04 20:07:14,2017-10-05 16:52:52,2017-10-20 20:25:45,2017-11-07 00:00:00,2017-10-04 19:57:37,2017-10-04 20:07:14
99434,aa04ef5214580b06b10e2a378300db44,f01a6bfcc730456317e4081fe0c9940e,delivered,2017-01-27 01:05:25,2017-01-30 11:40:16,2017-02-07 13:15:25,2017-03-17 00:00:00,2017-01-27 00:30:03,2017-01-27 01:05:25
99435,880675dff2150932f1601e1c07eadeeb,47cd45a6ac7b9fb16537df2ccffeb5ac,delivered,2017-02-23 09:15:11,2017-03-01 10:22:52,2017-03-06 11:08:08,2017-03-22 00:00:00,2017-02-23 09:05:12,2017-02-23 09:15:11
99436,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,delivered,2017-03-09 09:54:05,2017-03-10 11:18:03,2017-03-17 15:08:01,2017-03-28 00:00:00,2017-03-09 09:54:05,2017-03-09 09:54:05
99437,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06 13:10:37,2018-02-07 23:22:42,2018-02-28 17:37:56,2018-03-02 00:00:00,2018-02-06 12:58:58,2018-02-06 13:10:37
99438,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27 15:04:16,2017-08-28 20:52:26,2017-09-21 11:24:17,2017-09-27 00:00:00,2017-08-27 14:46:43,2017-08-27 15:04:16
99439,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:36:21,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15 00:00:00,2018-01-08 21:28:27,2018-01-08 21:36:21
99440,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03 00:00:00,2018-03-08 20:57:30,2018-03-09 11:20:28

In [33]:
approved_orders.drop('order_approved_at',1)
# Ces deux étapes sont optionnelles, elles permettent de montrer comment supprimer une colonne et
# de gagner en lisibilité dans son tableau

,order_id,customer_id,order_status,order_purchase_timestamp,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,purchase_time,approved_time
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,2017-10-02 10:56:33,2017-10-02 11:07:15
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00,2018-07-24 20:41:37,2018-07-26 03:24:27
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00,2018-08-08 08:38:49,2018-08-08 08:55:23
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00,2017-11-18 19:28:06,2017-11-18 19:45:59
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00,2018-02-13 21:18:39,2018-02-13 22:20:29
5,a4591c265e18cb1dcee52889e2d8acc3,503740e9ca751ccdda7ba28e9ab8f608,delivered,2017-07-09 21:57:05,2017-07-11 14:58:04,2017-07-26 10:57:55,2017-08-01 00:00:00,2017-07-09 21:57:05,2017-07-09 22:10:13
6,136cce7faa42fdb2cefd53fdc79a6098,ed0271e0b7da060a393796590e7b737a,invoiced,2017-04-11 12:22:08,NaN,NaN,2017-05-09 00:00:00,2017-04-11 12:22:08,2017-04-13 13:25:17
7,6514b8ad8028c9f2cc2374ded245783f,9bdf08b4b3b52b5526ff42d37d47f222,delivered,2017-05-16 13:10:30,2017-05-22 10:07:46,2017-05-26 12:55:51,2017-06-07 00:00:00,2017-05-16 13:10:30,2017-05-16 13:22:11
8,76c6e866289321a7c93b82b54852dc33,f54a9f0e6b351c431402b8461ea51999,delivered,2017-01-23 18:29:09,2017-01-26 14:16:31,2017-02-02 14:08:10,2017-03-06 00:00:00,2017-01-23 18:29:09,2017-01-25 02:50:47
9,e69bfb5eb88e0ed6a785585b27e16dbf,31ad1d1b63eb9962463f764d4e6e0c9d,delivered,2017-07-29 11:55:02,2017-08-10 19:45:24,2017-08-16 17:14:30,2017-08-23 00:00:00,2017-07-29 11:55:02,2017-07-29 12:05:32
10,e6ce16cb79ec1d90b1da9085a6118aeb,494dded5b201313c64ed7f100595b95c,delivered,2017-05-16 19:41:10,2017-05-18 11:40:40,2017-05-29 11:18:31,2017-06-07 00:00:00,2017-05-16 19:41:10,2017-05-16 19:50:18
11,34513ce0c4fab462a55830c0989c7edb,7711cf624183d843aafe81855097bc37,delivered,2017-07-13 19:58:11,2017-07-14 18:43:29,2017-07-19 14:04:48,2017-08-08 00:00:00,2017-07-13 19:58:11,2017-07-13 20:10:08
12,82566a660a982b15fb86e904c8d32918,d3e3b74c766bc6214e0c830b17ee2341,delivered,2018-06-07 10:06:19,2018-06-11 13:29:00,2018-06-19 12:05:52,2018-07-18 00:00:00,2018-06-07 10:06:19,2018-06-09 03:13:12
13,5ff96c15d0b717ac6ad1f3d77225a350,19402a48fe860416adf93348aba37740,delivered,2018-07-25 17:44:10,2018-07-26 13:16:00,2018-07-30 15:52:25,2018-08-08 00:00:00,2018-07-25 17:44:10,2018-07-25 17:55:14
14,432aaf21d85167c2c86ec9448c4e42cc,3df704f53d3f1d4818840b34ec672a9f,delivered,2018-03-01 14:14:28,2018-03-02 21:09:20,2018-03-12 23:36:26,2018-03-21 00:00:00,2018-03-01 14:14:28,2018-03-01 15:10:47
15,dcb36b511fcac050b97cd5c05de84dc3,3b6828a50ffe546942b7a473d70ac0fc,delivered,2018-06-07 19:03:12,2018-06-11 14:54:00,2018-06-21 15:34:32,2018-07-04 00:00:00,2018-06-07 19:03:12,2018-06-12 23:31:02
16,403b97836b0c04a622354cf531062e5f,738b086814c6fcc74b8cc583f8516ee3,delivered,2018-01-02 19:00:43,2018-01-03 18:19:09,2018-01-20 01:38:59,2018-02-06 00:00:00,2018-01-02 19:00:43,2018-01-02 19:09:04
17,116f0b09343b49556bbad5f35bee0cdf,3187789bec990987628d7a9beb4dd6ac,delivered,2017-12-26 23:41:31,2017-12-28 18:33:05,2018-01-08 22:36:36,2018-01-29 00:00:00,2017-12-26 23:41:31,2017-12-26 23:50:22
18,85ce859fd6dc634de8d2f1e290444043,059f7fc5719c7da6cbafe370971a8d70,delivered,2017-11-21 00:03:41,2017-11-23 21:32:26,2017-11-27 18:28:00,2017-12-11 00:00:00,2017-11-21 00:03:41,2017-11-21 00:14:22
19,83018ec114eee8641c97e08f7b4e926f,7f8c8b9c2ae27bf3300f670c3d478be8,delivered,2017-10-26 15:54:26,2017-10-26 21:46:53,2017-11-08 22:22:00,2017-11-23 00:00:00,2017-10-26 15:54:26,2017-10-26 16:08:14
20,203096f03d82e0dffbc41ebc2e2bcfb7,d2b091571da224a1b36412c18bc3bbfe,delivered,2017-09-18 14:31:30,2017-10-06 17:50:03,2017-10-09 22:23:46,2017-09-28 00:00:00,2017-09-18 14:31:30,2017-09-19 04:04:09
21,f848643eec1d69395095eb3840d2051e,4fa1cd166fa598be6de80fa84eaade43,delivered,2018-03-15 08:52:40,2018-03-15 19:52:48,2018-03-19 18:08:32,2018-03-29 00:00:00,2018-03-15 08:52:40,2018-03-15 09:09:31
22,2807d0e504d6d4894d41672727bc139f,72ae281627a6102d9b3718528b420f8a,delivered,2018-02-03 20:37:35,2018-02-05 22:37:28,2018-02-08 16:13:46,2018-02-21 00:00:00,2018-02-03 20:37:35,2018-02-03 20:50:22
23,95266dbfb7e20354baba07964dac78d5,a166da34890074091a942054b36e4265,delivered,2018-01-08 07:55:29,2018-01-24 23:16:37,2018-01-26 17:32:38,2018-02-21 00:00:00,2018-01-08 07:55:29,2018-01-08 08:07:31
24,f3e7c359154d965827355f39d6b1fdac,62b423aab58096ca514ba6aa06be2f98,delivered,2018-08-09 11:44:40,2018-08-10 12:29:00,2018-08-13 18:24:27,2018-08-17 00:00:00,2018-08-09 11:44:40,2018-08-10 03:24:51
25,fbf9ac61453ac646ce8ad9783d7d0af6,3a874b4d4c4b6543206ff5d89287f0c3,delivered,2018-02-20 23:46:53,2018-02-26 22:25:22,2018-03-21 22:03:54,2018-03-12 00:00:00,2018-02-20 23:46:53,2018-02-22 02:30:46
26,acce194856392f074dbf9dada14d8d82,7e20bf5ca92da68200643bda76c504c6,delivered,2018-06-04 00:00:13,2018-06-05 13:24:00,2018-06-16 15:20:55,2018-07-18 00:00:00,2018-06-04 00:00:13,2018-06-05 00:35:10
27,dd78f560c270f1909639c11b925620ea,8b212b9525f9e74e85e37ed6df37693e,delivered,2018-03-12 01:50:26,2018-03-12 21:06:37,2018-03-21 14:41:50,2018-03-28 00:00:00,2018-03-12 01:50:26,2018-03-12 03:28:34
28,91b2a010e1e45e6ba3d133fa997597be,cce89a605105b148387c52e286ac8335,delivered,2018-05-02 11:45:38,2018-05-10 16:16:00,2018-05-16 20:56:24,2018-05-23 00:00:00,2018-05-02 11:45:38,2018-05-03 12:55:01
29,ecab90c9933c58908d3d6add7c6f5ae3,761df82feda9778854c6dafdaeb567e4,delivered,2018-02-25 13:50:30,2018-02-26 22:28:50,2018-03-27 23:29:14,2018-04-13 00:00:00,2018-02-25 13:50:30,2018-02-25 14:47:35
...,...,...,...,...,...,...,...,...,...
99410,71c4b7b8844a031b7db8ca41c41d4aae,dce0014426964924f9564758e4fadcbf,delivered,2017-09-03 20:52:34,2017-09-05 17:47:58,2017-09-14 15:49:47,2017-10-03 00:00:00,2017-09-03 20:52:34,2017-09-05 04:10:34
99411,4a69678ecf74bfd34260031c04329b68,eb19f77ffd29917f353d12152b0c0de1,delivered,2018-07-22 16:58:38,2018-07-23 15:12:00,2018-07-24 22:46:38,2018-07-31 00:00:00,2018-07-22 16:58:38,2018-07-23 12:32:05
99412,4146f35ac7a7ef4e39fe344e563c1e3b,e0eac226ceae49858de89e8a5c1ba1ec,delivered,2017-11-26 19:42:22,2017-11-27 18:33:24,2017-12-05 18:38:40,2017-12-15 00:00:00,2017-11-26 19:42:22,2017-11-26 19:53:48
99413,3cea94817a51f34aa5937784fb4a3219,20b927d23e84dfaa333eb4aea6615084,delivered,2018-04-01 16:13:26,2018-04-02 18:21:51,2018-04-06 21:32:35,2018-04-19 00:00:00,2018-04-01 16:13:26,2018-04-01 16:30:16
99414,e8fd20068b9f7e6ec07068bb7537f781,609b9fb8cad4fe0c7b376f77c8ab76ad,delivered,2017-08-10 21:21:07,2017-08-18 16:42:51,2017-08-23 15:36:29,2017-08-31 00:00:00,2017-08-10 21:21:07,2017-08-10 21:35:26
99416,c627fe35fce1a754bc5b812d0b8ff379,42b0671b440d1f2527bddd8b723e0a0c,delivered,2018-06-03 18:44:31,2018-06-04 13:48:00,2018-06-07 13:22:19,2018-07-11 00:00:00,2018-06-03 18:44:31,2018-06-03 18:55:15
99417,e6cc57f923c4dab2222b8c9aa8742eea,2f4a42f9bb4b9a8cd402fa549df5c7fd,delivered,2018-02-07 12:09:45,2018-02-21 23:38:05,2018-03-05 18:56:39,2018-05-11 00:00:00,2018-02-07 12:09:45,2018-02-07 12:31:13
99418,788541a19c0791de0504c5a9cb7e7bd5,a537aaf902d2f436eb7f44817154bb68,delivered,2017-11-30 17:54:28,2017-12-05 20:58:57,2017-12-13 20:34:50,2017-12-27 00:00:00,2017-11-30 17:54:28,2017-11-30 18:16:25
99419,1b4a0e6b19d0034b531655b41ea89623,ce5efd1b1d8a2fa290a871edd5c26cd6,delivered,2017-10-02 08:45:35,2017-10-03 20:26:19,2017-10-06 16:58:25,2017-10-24 00:00:00,2017-10-02 08:45:35,2017-10-02 08:56:53
99420,f9e3402be5a5ea63344347582ca9f45f,6f2cf56878f7f82151b0ad02590192c0,delivered,2017-06-07 11:02:37,2017-06-08 14:03:29,2017-06-19 19:19:30,2017-07-05 00:00:00,2017-06-07 11:02:37,2017-06-08 02:45:24
99421,6f46d42016226f77893ed3978d6903d0,3803547f820b1e10b7ad9c7985f06753,delivered,2017-07-05 15:55:19,2017-07-07 19:48:40,2017-07-19 22:10:03,2017-08-14 00:00:00,2017-07-05 15:55:19,2017-07-05 17:43:48
99422,dfc6eb45a2753ed9e6c6ef4987b44503,a046c690e0564ffde0ce611b5eee2c30,delivered,2018-05-25 17:05:17,2018-05-29 13:31:00,2018-06-04 23:54:32,2018-06-26 00:00:00,2018-05-25 17:05:17,2018-05-25 17:15:21
99423,38e9133ce29f6bbe35aed9c3863dce01,ad312389a098ceff46ce92c4595c06d0,delivered,2017-10-12 20:54:11,2017-10-17 17:04:42,2017-11-21 17:06:59,2017-10-31 00:00:00,2017-10-12 20:54:11,2017-10-14 03:28:24
99424,6ec4642f9993cc34f826cfb9068e5a2f,f00bb12620b7b232233cace1b229db18,delivered,2017-11-21 20:18:03,2017-11-27 17:18:52,2017-12-02 16:48:46,2017-12-08 00:00:00,2017-11-21 20:18:03,2017-11-21 20:28:52
99425,d692ef54145c9cb3322ec2e5508aa3f4,82ddfcf9438b0cd1117b55ac33184df8,delivered,2018-03-21 19:47:18,2018-03-22 21:11:58,2018-04-11 00:48:31,2018-04-09 00:00:00,2018-03-21 19:47:18,2018-03-21 20:05:26
99426,7cc85185736ea7f2d8bc09af7a47cab7,9e870ea67399650e8c3545a25d13e4d0,delivered,2017-05-15 09:46:26,2017-05-15 14:11:06,2017-05-22 18:05:56,2017-06-07 00:00:00,2017-05-15 09:46:26,2017-05-15 10:02:45
99427,19dba6d1e58b04e7fc820558a38ea398,cf97e9cf454480b303de6736ddd15fd6,delivered,2018-05-12 13:42:24,2018-05-16 08:14:00,2018-05-18 17:18:29,2018-06-04 00:00:00,2018-05-12 13:42:24,2018-05-12 13:55:17
99428,c22a47117b6a87c967b0c278488110c1,6e153567dc52ea59c0498ef5383e9c7a,delivered,2018-06-22 20:53:29,2018-06-25 17:50:00,2018-07-03 19:48:54,2018-07-23 00:00:00,2018-06-22 20:53:29,2018-06-22 21:17:45
99429,0e4b26f1fb99fc0f0472dd5f403d36d4,2e96fa6d55b9732013caed9866e2552d,delivered,2017-11-05 16:17:53,2017-11-07 18:35:08,2017-11-08 16:08:56,2017-11-17 00:00:00,2017-11-05 16:17:53,2017-11-05 16:30:29
99430,c81f74e50f0496fa39716cc77cacd460,7b270ebc87c25c8404348c10ff80a80e,delivered,2018-03-04 22:48:38,2018-03-05 16:15:04,2018-03-13 18:54:32,2018-03-26 00:00:00,2018-03-04 22:48:38,2018-03-04 23:09:22
99431,b0f4af5c1b06e24fef510703bfe9f0a6,8e1ec396e317ff4c82a03ce16a0c3eb3,delivered,2017-10-27 15:21:00,2017-10-30 15:44:34,2017-11-10 17:57:22,2017-11-22 00:00:00,2017-10-27 15:21:00,2017-10-27 15:32:49
99432,cfa78b997e329a5295b4ee6972c02979,a2f7428f0cafbc8e59f20e1444b67315,delivered,2017-12-20 09:52:41,2017-12-20 20:25:25,2018-01-26 15:45:14,2018-01-18 00:00:00,2017-12-20 09:52:41,2017-12-20 10:09:52
99433,9115830be804184b91f5c00f6f49f92d,da2124f134f5dfbce9d06f29bdb6c308,delivered,2017-10-04 19:57:37,2017-10-05 16:52:52,2017-10-20 20:25:45,2017-11-07 00:00:00,2017-10-04 19:57:37,2017-10-04 20:07:14
99434,aa04ef5214580b06b10e2a378300db44,f01a6bfcc730456317e4081fe0c9940e,delivered,2017-01-27 00:30:03,2017-01-30 11:40:16,2017-02-07 13:15:25,2017-03-17 00:00:00,2017-01-27 00:30:03,2017-01-27 01:05:25
99435,880675dff2150932f1601e1c07eadeeb,47cd45a6ac7b9fb16537df2ccffeb5ac,delivered,2017-02-23 09:05:12,2017-03-01 10:22:52,2017-03-06 11:08:08,2017-03-22 00:00:00,2017-02-23 09:05:12,2017-02-23 09:15:11
99436,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,delivered,2017-03-09 09:54:05,2017-03-10 11:18:03,2017-03-17 15:08:01,2017-03-28 00:00:00,2017-03-09 09:54:05,2017-03-09 09:54:05
99437,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06 12:58:58,2018-02-07 23:22:42,2018-02-28 17:37:56,2018-03-02 00:00:00,2018-02-06 12:58:58,2018-02-06 13:10:37
99438,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27 14:46:43,2017-08-28 20:52:26,2017-09-21 11:24:17,2017-09-27 00:00:00,2017-08-27 14:46:43,2017-08-27 15:04:16
99439,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15 00:00:00,2018-01-08 21:28:27,2018-01-08 21:36:21
99440,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-08 20:57:30,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03 00:00:00,2018-03-08 20:57:30,2018-03-09 11:20:28

In [35]:
approved_orders['time_purchase_to_approve'] = approved_orders.approved_time - approved_orders.purchase_time

C:\Users\natha\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [37]:
approved_orders['time_purchase_to_approve'].head(10)

0   0 days 00:10:42
1   1 days 06:42:50
2   0 days 00:16:34
3   0 days 00:17:53
4   0 days 01:01:50
5   0 days 00:13:08
6   2 days 01:03:09
7   0 days 00:11:41
8   1 days 08:21:38
9   0 days 00:10:30
Name: time_purchase_to_approve, dtype: timedelta64[ns]

In [40]:
too_long_approval = approved_orders[approved_orders.time_purchase_to_approve>'0 days 0:15:00.0']

In [41]:
nb_approval_too_long = too_long_approval.order_id.count()

In [42]:
total_number_of_approved_orders = approved_orders.order_id.count()

In [43]:
part_of_too_long_orders = nb_approval_too_long/total_number_of_approved_orders

In [44]:
part_of_too_long_orders

0.6482058405940695

### Partie 4

#### Pour quelle catégorie de produit réaliser une page spécifique en priorité ?

In [46]:
products_dataset.head(5)

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0

In [49]:
order_items_dataset.head(5)

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

In [63]:
# Sélection des colonnes les plus pertinentes pour gagner en lisibilité (optionnel)
selected_product_cat_col= ['product_id','product_category_name']
selected_order_items_col = ['product_id','price', 'order_item_id']

product_cat = products_dataset[selected_product_cat_col]
order_it = order_items_dataset[selected_order_items_col]

In [66]:
#calcu de la valeur totale de la commande
order_it['total_value']=order_it.order_item_id*order_it.price

C:\Users\natha\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [67]:
orders_with_product_cat = pd.merge(order_it, product_cat, how='left')

In [68]:
orders_with_product_cat.head(10)

,product_id,price,order_item_id,total_value,product_category_name
0,4244733e06e7ecb4970a6e2683c13e61,58.90,1,58.90,cool_stuff
1,e5f2d52b802189ee658865ca93d83a8f,239.90,1,239.90,pet_shop
2,c777355d18b72b67abbeef9df44fd0fd,199.00,1,199.00,moveis_decoracao
3,7634da152a4610f1595efa32f14722fc,12.99,1,12.99,perfumaria
4,ac6c3623068f30de03045865e4e10089,199.90,1,199.90,ferramentas_jardim
5,ef92defde845ab8450f9d70c526ef70f,21.90,1,21.90,utilidades_domesticas
6,8d4f2bb7e93e6710a28f34fa83ee7d28,19.90,1,19.90,telefonia
7,557d850972a7d6f792fd18ae1400d9b6,810.00,1,810.00,ferramentas_jardim
8,310ae3c140ff94b03219ad0adc3c778f,145.95,1,145.95,beleza_saude
9,4535b0e1091c278dfd193e5a1d63b39f,53.99,1,53.99,livros_tecnicos

In [69]:
aggregated_orders_by_cat = orders_with_product_cat.groupby('product_category_name').sum()

In [70]:
aggregated_orders_by_cat = aggregated_orders_by_cat.reset_index()

In [71]:
aggregated_orders_by_cat.sort_values('total_value', ascending=False).head(5)

     product_category_name       price  order_item_id  total_value
11            beleza_saude  1258681.34          11081   1347468.49
66      relogios_presentes  1205005.68           6594   1259634.58
13         cama_mesa_banho  1036988.68          13665   1228795.46
44  informatica_acessorios   911954.32           9874   1135454.64
32           esporte_lazer   988048.97           9932   1082435.42